
@media(max-width: 1200px){
    .navbar{
        padding:25px;
    }
    .navbar *{
        font-size: 20px;
    }
    .logo{
        max-height: 50px !important;
    }
    
}


.logo {
    max-height: 70px; 
    height: auto; 
    background-color: white;
}


